<!--Alpine.js を使用。-->
<div class="relative flex justify-between items-center relative z-10">
  <!-- ロゴ -->

  <div class="logo-container h-10 w-10">
  <%= link_to root_path, class: "logo-link" do %>
    <%= image_tag("favicon.ico", class: "logo h-full object-contain") %>
  <% end %>
</div>







  <!-- menubar -->
<div x-data="{ open: false }" class="top-0 right-0 z-10">

<% if current_user %>
   
<div class="relative p-3">
  <button id="menu-toggle" class="text-2xl">
    ☰
  </button>

  <nav id="menu" class="hidden absolute top-full right-0 bg-white shadow-md w-64 max-w-xs overflow-hidden z-50">

  <p>
    <%= link_to "ホーム", root_path,
      class: "block px-4 py-2 text-gray-700 hover:bg-gray-100 text-lg font-semibold" %>
  </p>


  <div class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
    <%= button_to(logout_path,
      method: :delete,
      data: { turbo: false }
    ) do %>
      ログアウト
    <% end %>
  </div>

</nav>


</div>
 <% end %>
    <!-- menubar -->



   


  </div>
</div>


<script>
//menubR javascript
document.addEventListener("DOMContentLoaded", () => {
  const toggleButton = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");

  toggleButton.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
});
</script>
